.mat-toolbar {
  sup {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }

  .mat-icon-button {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
}

main {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;

  .group-form-field {
    gap: 8px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .group-button {
    gap: 8px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
