<mat-toolbar>
  <span> ngx-material-date-fns-adapter </span>
  <sup>
    <small>v{{ version }}</small>
  </sup>

  <div style="flex: 1 1 auto"></div>

  <a mat-icon-button matTooltip="Github" href="https://github.com/mohsen77sk/angular-material-date-fns-adapter">
    <img src="./assets/icons/github-circle-black-transparent.svg" width="24" height="24" />
  </a>
</mat-toolbar>

<main>
  <mat-card>
    <mat-card-header>
      <mat-card-title> Multi locale sample </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="group-form-field" [dir]="isLocale(['fa-IR', 'ar']) ? 'rtl' : 'ltr'">
        <mat-form-field>
          <mat-label>{{ getDateLabel() }}</mat-label>
          <input matInput [matDatepicker]="datepicker" [value]="date" (dateChange)="changeDate($event.value)" />
          <mat-datepicker #datepicker />
          <mat-datepicker-toggle [for]="datepicker" matSuffix />
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{ getTimeLabel() }}</mat-label>
          <input matInput [matTimepicker]="timepicker" [value]="date" (valueChange)="changeDate($event)" />
          <mat-timepicker #timepicker />
          <mat-timepicker-toggle [for]="timepicker" matSuffix />
        </mat-form-field>
      </p>

      <div class="group-button">
        @for (item of locales; track item.localeId) {
        <!-- Check for active button -->
        @if (isLocale(item.localeId)) {
        <button mat-flat-button (click)="changeLocale(item.locale)">
          {{ item.label }}
        </button>
        } @else {
        <button mat-stroked-button (click)="changeLocale(item.locale)">
          {{ item.label }}
        </button>
        } }
      </div>
    </mat-card-content>
  </mat-card>
</main>
